<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>index.mustache 파일입니다.</h1>
<h2>{{name}}</h2>
<h2>{{num}}</h2>
<h2>{{password}}</h2>
</body>
</html>