<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>modelData 페이지입니다.</h1>
<h2>{{member}}</h2>
<hr />
<h1>#문법 : 조건문 혹은 반복문</h1>
{{#member}}
	<h2>{{id}}</h2>
	<h2>{{username}}</h2>
	<h2>{{phone}}</h2>
{{/member}}

</body>
</html>